---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
      <div class="post py3">   
        <p>                   
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h4 class="h1 post-title">{{ post.title | capitalize }} </h4></a>
            {{ post.date | date:"%Y-%m-%d"}} <br/> 
            <!--   <h3 class="h1 post-title" >{{ post.title | capitalize }} </h3></a>   -->  
        
            {{ post.excerpt | strip_html }} 
        </p>
      </div>

  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
