<!-- visit counter from http://www.blogcounter4free.com/  -->
<a href="http://www.blogcounter4free.com" target="_blank"><img src="http://www.blogcounter4free.com/counter.php?page=blog.hwdong.com&digits=36&unique=0" alt="page visitor counter" border="0;"></a><br />
<!--
 <a href="http://www.whoisonlinecounter.com/" target="_blank" style="text-decoration: none; font-size: 5px; font-family: Verdana; color: #000000">who is online counter</a> <a href="http://www.blogcounter4free.com/" target="_blank" style="text-decoration: none; font-size: 5px; font-family: Verdana; color: #000000">blog counter</a>
 -->